@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;  /* Set background to white */
  --foreground: #171717;  /* Set foreground (text) to dark */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
